<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Collaborator</h3>
   </div>
   <div class="modal-body" id="modal-body">
    <input type="hidden" placeholder="Title" ng-model="noteid"/>
    <div >
        <i class="fa fa-user-plus" aria-hidden="true"></i>  <input style="border:none;
        width: 94%;"type="text" placeholder="Email to Share with" ng-model="collabEmail"/>
    </div>
   </div>
   <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-controller="fundooappCtrl" ng-click="CollabNote(collabEmail,noteid)">Ok</button>
    <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>
   
   </div>